.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
data/ALS/las_mof.las
data/ALS/las_mof.las
tiles/tile_01.las
data/ALS/output_cropped.laz
tiles/tile_01.las
data/envimet/*.gpkg
images/*.bmp
docs/site_libs/
bfg.jar
output
output.pld
